[Unit]
Description=AppCoreOS TUI
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
ExecStart=/usr/lib/your-os/tui.sh
Restart=always
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
