[Unit]
Description=AppCoreOS TUI
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/lib/your-os/tui.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/console
Restart=always

[Install]
WantedBy=appcore.target
