# Trigger OS self-update once per day.
[Unit]
Description=Daily OS self-update trigger
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=daily
Persistent=true
Unit=update-os.service

[Install]
WantedBy=timers.target
